@media(max-width:940px) {
    .footer {
        text-align: center;
    }
    
    .footer img{
        display: inline-block;
        height: 69px;
        display: flex;
    }
    
    .bottom-grey-text{
        font-size: 14px;
        color: rgb(170, 155, 143);
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 1.4px;
        display: flex;
        justify-content: center;
    }
    
    .menu-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
       
        margin: 30px 0px 0px;
    }
    
    .menu-elements {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(90, 55, 51);
        font-size: 16px;
        line-height: 16px;
        margin: 0px 17.5px;
    }
    
    .icons-container {}
    
    .icons-list{
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    
    .button-icons {
        overflow:hidden;
        margin: 5px;
    }
    
    .social-icons {
        border-radius: 50%;
    }
    
    .social-icons img{
        margin-right: 5px;
        height: 38px;
        margin-top: 30px;
    }
    
    .footer-bottom{
        padding: 15px 40px;
    }
    
    .end {
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: rgb(65, 57, 57);
        line-height: 21.98px;
        word-wrap: break-word;
        flex-wrap: wrap;
    }
}
    
@media(min-width:941px){
        .footer {
            text-align: center;
            /*position: absolute;*/
        }
        
        .footer img{
            height: 69px;
            display: block;
            justify-content: center;
        }
        
        .bottom-grey-text{
            font-size: 14px;
            color: rgb(170, 155, 143);
            font-weight: 700;
            line-height: 14px;
            letter-spacing: 1.4px;
            display: flex;
            justify-content: center;
        }
        
        .menu-footer { 
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            margin: 30px 0px 0px;
            position: relative;
        }
        
        .menu-elements {
            color: rgb(90, 55, 51);
            font-size: 16px;
            font-weight: 600;
            margin: 0px 17.5px;
        }
        
        .icons-container {}
        
        .icons-list{
            display: flex;
            justify-content: center;
        }
        
        .button-icons {
            overflow:hidden;
            margin: 5px;
        }
        
        .social-icons {
            color: #eb6d2f;
            fill: #eb6d2f;
            border-radius: 50%;
        }
        
        .social-icons img{
            height: 38px;
            margin-top: 30px;
        }
        
        .footer-bottom{
            padding: 15px 40px;
        }
        
        .end {
            display: flex;
            justify-content: center;
            font-size: 16px;
            color: rgb(65, 57, 57);
            line-height: 16px;
            flex-wrap: wrap;
        }
}