.footer {
    text-align: center;
}

.footer img{
    display: inline-block;
    width: 69px;
    display: flex;
  }

.bottom-grey-text{
    font-size: 14px;
    color: rgb(170, 155, 143);
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1.4px;
    display: flex;
}

.menu-footer {
    height: 208px;
    width: 282px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px -5px;
}

.menu-elements {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(90, 55, 51);
    font-size: 16px;
    line-height: 16px;
}

.icons-container {
    
}

.icons-list{
    list-style-type: none;
    display: flex;
    
}

.button-icons {
    cursor: pointer;
    color: #eb6d2f;
    fill: #eb6d2f;
    border-radius: 50%; 
}

.social-icons {
    color: #eb6d2f;
    fill: #eb6d2f;
    border-radius: 50%;
}

.social-icons img{
    margin-right: 5px;
    width: 38px;
}

.footer-bottom{
    width: 320px;
    height: 93.2px;
}

.end {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: rgb(65, 57, 57);
    line-height: 21.98px;
    word-wrap: break-word;
}