.footer {
    text-align: center;
}

.footer img{
    width: 69px;
  }

.bottom-grey{
    font-size: 14px;
    color: rgb(170, 155, 143);
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-align: center;
  }

.menu-footer {
    text-align: center;
}

.menu-elements {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(90, 55, 51);
    font-size: 16px;
    font-weight:400;
    position: static;
    line-height: 16px;
}

.icons-footer {
    display: flex;
    justify-content: center;
}

.button-icons {}

.end {
    font-family: ;
    font-size: 14px;
    color: rgb(65, 57, 57);
    font-weight: 400;
    line-height: 21.98px;
    text-align: center;
}