.section-about-honeybee {
    background-color: var(background-color);

}
.section-about-honeybee h3 {
    display: block;
    font-family: 'Open sans', sans-serif; 
    font-stretch: 100%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-align: center;
}
.section-about-honeybee h2 {
    display: block;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-about-honeybee h5 {
    font-family: "Signika Negative", sans-serif;
    font-size: 20px;
    color: var(--h1-h2-h4-color);
    text-align: center;
}
.section-about-honeybee .strip {
    margin: auto;
    width: 70px;

}
.text-section-about-honeebee .small-text {
    display: block;
    text-align: center;
}
.about-honeybee {
    display: flex;
    flex-direction: column; 

    
}
.colomn-learn-more {
    display:block;


}
    
