.section-honeybee {
    background-image: url(../img/backgroundblock1.jpg);
    background-size: cover;
    width: auto;
    min-height: 839px;
    position: relative;
}

.text-section-honeybee {
    position: absolute;
    top: 320px;
    left: 160px;
    max-width: 500px;
    max-height: 333px;
    text-align: left;
}

#button-orange-section-honeybee {
    margin: 30px 0 0 0;
}

.button-orange:hover {
    background-color: orange;
}