.section-about-honeybee {
    background-color: var(background-color);
    text-align: center;
    padding-bottom: 20px;


}
.section-about-honeybee .text-section-about-honeybee h3 {
    display:block;
    font-family: Open Sans, sans-serif;
    font-weight: bolder;
    letter-spacing: 0.1em;
    font-size: 18px;
    font-stretch: 100%;
    padding: 10px 25px 10px 25px;

}
.about-honeybee h3{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;

}
.section-about-honeybee h2 {
    display: block;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-about-honeybee h5 {
    font-family: "Signika Negative", sans-serif;
    font-size: 20px;
    color: var(--h1-h2-h4-color);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;

}
.section-about-honeybee .strip {
    margin: auto;
    width: 70px;

}
.text-section-about-honeybee .small-text {
    text-align:center;
}
.colomn-learn-more {
    display: block;
    background-color: white;
    border-radius: 5%;
    margin: 20px 40px 20px 40px; 
    padding: 15px 15px 15px 15px;
    text-align:left ;  
}
@media (min-width:720px) {
    .about-honeybee {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:980px) {
    .about-honeybee {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.colomn-learn-more{
    display: block;
}
.about-honeybee .colomn-img{
  border-radius: 15%; 
  margin: auto;
  width: 250px;
}
.about-honeybee .colomn-text {
    text-align: left;
}    

.container-learn-more .previous-slide-learn {
    display: block;
    width: 2%;
}
.container-learn-more .next-slide-learn {
    display: block;
    width: 2%;
}
