.section-clients-feedback {
    background-color:#5a3733 ;
    font-family: Open Sans, sans-serif;
    text-align: center;
    padding-bottom: 20px;
}
.feedback {
    font-family: Open Sans, sans-serif;
    color: #f7bd00;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 14px;
}

.section-clients-feedback h6 {
    font-family: "Signika Negative";
    font-size: 50px;
    color: white;
}
.small-text- {
    color: white;
}
.color-white {
    color: whitesmoke;
    font-style: italic;

}
.date {
    color: whitesmoke;

}
.strip-yellow {
    width: 50px;
    border-bottom: 4px #f7bd00 solid;
    margin: auto;
    ;
}

.clients-feedback .column-feedback-responce {
    display: flex;
    flex-direction: column;
    background-color: #753e37;;
    margin: 20px 40px 20px 40px;
    
}   


