.section-about-honeybee {
    background-color: var(background-color);
    text-align: center;
    padding-bottom: 20px;


}
.section-about-honeybee .text-section-about-honeybee h3 {
    display:block;
    font-family: Open Sans, sans-serif;
    font-weight: bolder;
    letter-spacing: 0.1em;
    font-size: 18px;
    font-stretch: 100%;
    padding: 10px 25px 10px 25px;

}
.about-honeybee h3{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;

}
.section-about-honeybee h2 {
    display: block;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-about-honeybee h5 {
    font-family: "Signika Negative", sans-serif;
    font-size: 20px;
    color: var(--h1-h2-h4-color);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;

}
.section-about-honeybee .strip {
    margin: auto;
    width: 70px;

}
.text-section-about-honeybee .small-text {
    text-align:center;
}
.about-honeybee {
    display: flex;
    flex-direction: column;
} 
.about-honeybee .colomn-learn-more {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5%;
    justify-content: flex-start;
    margin: 20px 40px 20px 40px; 
    padding: 15px 15px 15px 15px;  
}

.colomn-learn-more {
    display:block;
}
.about-honeybee .colomn-img{
  border-radius: 5%; 
  margin: auto;
}
.about-honeybee .colomn-text {
    text-align: left;
}    

